absl-py
ansiwrap
anyio
astunparse
babel
beautifulsoup4
biopython
cachetools
click
configparser
cycler
decorator
deprecation
et-xmlfile
fastjsonschema
ffmpeg-python
filelock
fonttools
freetype-py
future==0.18.2
fvcore
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
hyperpyyaml
imageio
imageio-ffmpeg
iopath
ipywidgets
jinja2
json5
jsonlines
keras-preprocessing
kiwisolver
librosa
markdown
matplotlib
nbclassic
nbconvert
nbformat
networkx
notebook-shim
numpy
oauthlib
opencv-python==4.5.5.62
openpyxl
opt-einsum
pandas
pandas-stubs
pillow
portalocker
praatio
proglog
protobuf
pyasn1
pyasn1-modules
pyglet
pymeshlab
pymysql
pyopengl
pyrender
pytz
pyyaml
regex
requests
requests-oauthlib
rsa
ruamel-yaml
ruamel-yaml-clib
sacremoses
sentencepiece
setuptools
shutils
six
sniffio
soupsieve
tabulate
termcolor
textwrap3
tinycss2
tokenizers
tomlkit
tqdm
transformers
trimesh
typing-extensions
urllib3
websocket-client
werkzeug
widgetsnbextension
yacs